@import "tailwindcss";

@theme {
  --color-cinema-black: #0a0a0a;
  --color-cinema-gray: #1a1a1a;
  --color-cinema-red: #e50914;
}

body {
    background-color: var(--color-cinema-black);
    color: white;
}
